*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Dosis-Medium", sans-serif;
    font-size: 0.875rem;
    color: rgb(151, 164, 190);
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.0625rem;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.65rem;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.button {
    padding: 10px 23px 13px 28px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-primary {
    color: #233148;
    background-color: rgb(0, 255, 240);
}

.button-secondary {
    background-color: transparent;
    color: #fff;
    padding: 9px 22px 12px 27px;
    border: 1px solid #fff;
}

.title-primary {
    color: #000;
}

.title-secondary {
    color: #233148;
}

.text-primary {
    color: #97a4be;
}

.logo {
    display: block;
    font-size: 2.187rem;
    color: rgb(0, 255, 240);
    position: relative;
    margin: 0;
    padding: 0;
}

.logo::after {
    display: block;
    content: "\AE";
    position: absolute;
    right: -.8rem;
    top: .3rem;
    font-size: 1.32rem;
}

/* start header */
.header {
    background-color: rgb(34, 48, 71);
}

.navbar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-wrapper {
    flex-basis: 203px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu__link {
    color: #fff;
}

.separator {
    height: 1px;
    background-color: rgb(78, 89, 108);
}

.offer {
    padding-top: 195px;
    padding-bottom: 108px;
    position: relative;
}

.choose-way {
    max-width: 422px;
    margin-left: 96px;
}

.choose-way__title {
    color: #fff;
    margin-bottom: 55px;
}

.choose-way__text {
    margin-bottom: 58px;
}

.buttons-group > .button-secondary {
    margin-left: 28px;
}

.phone-container {
    position: absolute;
    right: 470px;
    top: 130px;
}

.phone {
    display: block;
    height: 585px;
    width: 282px;
}
/* header end */

/* services start */
.services {
    padding-top: 203px;
    padding-bottom: 119px;
    background-color: #fff;
}

.services__title {
    margin: 0 auto;
    max-width: 348px;
    text-align: center;
    margin-bottom: 156px;
    position: relative;
}

.services__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 97px;
    height: 4px;
    bottom: -88px;
    background-color: rgb(0, 255, 240);
    left: 50%;
    transform: translateX(-50%);
}

.services-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-card {
    padding: 25px 23px 30px 28px;
    text-align: center;
    max-width: 272px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4.8px 0.2px rgba(30, 43, 63, 0.1);
}

.services-card__image-container {
    width: 118px;
    height: 106px;
    margin: 0 auto 25px auto;
}

.services-card__image {
    width: 100%;
    height: 100%;
}

.services-card__title {
    margin-bottom: 28px;
}

/* end services */

/* start company-info */
.company-info {
    display: flex;
    background-color: #323a4d;
}

.get-more {
    flex-basis: 1070px;
    padding: 140px 0 135px 125px;
    background-color: rgb(245, 246, 250);
    margin-left: auto;
}

.get-more__title {
    max-width: 240px;
    margin-bottom: 49px;
}

.get-more__text {
    max-width: 476px;
}
/* end company-info */

/* start app-presentation */
.app-presentation {
    padding-top: 112px;
    padding-bottom: 102px;
    background-color: #fff;
}

.app-presentation__offer {
    display: flex;
    margin-bottom: 110px;
}

.stable-and-ready {
    max-width: 471px;
    padding-top: 12px;
    text-align: right;
}

.stable-and-ready__title {
    margin-bottom: 49px;
}

.stable-and-ready__text {
    margin-bottom: 46px;
}

.code-window {
    max-width: 570px;
    max-height: 363px;
    margin: 0 0 0 auto;
}

.code-window__image {
    display: block;
}

.app-presentation__advantages {
    display: flex;
    justify-content: space-between;
}

.news-phone {
    max-width: 471px;
    margin: 0;
}

.advantages {
    flex-basis: 544px;
    margin-left: 0;
}

.advantages__item {
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding: 30px 0 30px 85px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(35, 39, 51, 0.1);
}

.advantages__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    background: #000;
    top: 25px;
    left: 30px;
}

.advantages__item--made-with::before {
    background: url(../img/advantages-sprite.png) -13px -6px no-repeat;
}

.advantages__item--use::before {
    background: url(../img/advantages-sprite.png) -117px -8px no-repeat;
}

.advantages__item--support::before {
    background: url(../img/advantages-sprite.png) -68px -10px no-repeat;
}

.advantages__item--flat::before {
    background: url(../img/advantages-sprite.png) -166px -7px no-repeat;
}