*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Dosis-Regular", sans-serif;
    font-size: 0.875rem;
    color: rgb(151, 164, 190);
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    letter-spacing: 0.020em;
}

h1,
h2,
h3 {
    font-weight: 500;
    line-height: 1.2em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
    letter-spacing: 0.020em;
}

h3 {
    font-size: 1.0625rem;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.9rem;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

.button {
    padding: 9px 24px 13px 27px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 7px;
}

.button-primary {
    color: #233148;
    background-color: rgb(0, 255, 240);
}

.button-secondary {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    letter-spacing: 0.02em;
}

.title-primary {
    color: #000;
}

.title-secondary {
    color: #233148;
}


/* start header */
.header {
    background-color: rgb(34, 48, 71);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    padding-left: 11px;
}

.logo__name {
    display: block;
    font-size: 2.187rem;
    color: rgb(0, 255, 240);
    position: relative;
    top: -5px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.023em;
}

.logo__name::after {
    display: block;
    content: "\AE";
    position: absolute;
    right: -.8rem;
    top: .3rem;
    font-size: 1.32rem;
}

.nav-menu {
    flex-basis: 203px;
    display: flex;
    align-items: center;
}

.nav-menu__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-menu__link {
    color: #fff;
}

.header-button {
    display: flex;
    align-items: center;
}

.header-button__button {
    margin-right: 27px;
    transition: .5s;
}

/*start burger-menu */

.burger-menu__button {
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 2;
}

.burger-menu__line {
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .1s;
}

.burger-menu__line::before,
.burger-menu__line::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: .6s;
}

.burger-menu__line::before {
    bottom: 10px;
}

.burger-menu__line::after {
    top: 10px;
}

.burger-menu--active .burger-menu__line {
    background-color: transparent;
    transition: .9s;
}

.burger-menu--active .burger-menu__line::before,
.burger-menu--active .burger-menu__line::after {
    top: 0;
    background-color: rgb(34, 48, 71);
}

.burger-menu--active .burger-menu__line::before {
    transform: rotate(-45deg);
}

.burger-menu--active .burger-menu__line::after {
    transform: rotate(45deg);
}

.burger-menu__list {
    background-color: #f5f6fa;
    padding: 100px 188px 0 100px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: .5s;
    transform: translateX(390px);
}

.burger-menu__item {
    padding-bottom: 1.7rem;
}

.burger-menu__link {
    color: #323a4d;
    font-size: 1.375rem;
}

.burger-menu--active .burger-menu__list {
    opacity: 1;
    transform: translateX(0);
}

.top-bar {
    width: 100%;
    border-bottom: 1px solid rgb(78, 89, 108);
    position: relative;
    background-color: rgb(34, 48, 71);
    z-index: 2;
}
/* end burger-menu */

.offer {
    padding-top: 192px;
    padding-bottom: 108px;
    position: relative;
}

.choose-way {
    max-width: 422px;
    margin-left: 102px;
}

.choose-way__title {
    color: #fff;
    margin-bottom: 50px;
    margin-left: 5px;
}

.choose-way__text {
    margin-bottom: 55px;
}

.buttons-group {
    margin-left: 3px;
}

.buttons-group .button-secondary {
    margin-left: 25px;
}

.phone {
    position: absolute;
    right: 460px;
    top: 134px;
}

.phone__image {
    display: block;
    height: 582px;
    width: 280px;
}


@media screen and (max-width: 1600px) {
    .phone {
        right: 100px;
        top: 80px;
    }

    .phone__image {
        height: 482px;
        width: 250px;
    }
}

@media screen and (max-width: 992px) {
    .offer {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .phone {
        display: none;
    }

    .choose-way {
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

/* end header */

/* start services */
.services {
    padding-top: 203px;
    padding-bottom: 119px;
    background-color: #fff;
}

.services__title {
    margin: 0 auto;
    max-width: 348px;
    text-align: center;
    margin-bottom: 166px;
    position: relative;
}

.services__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 97px;
    height: 4px;
    bottom: -88px;
    background-color: rgb(0, 255, 240);
    left: 50%;
    transform: translateX(-50%);
}

.services-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-cards__card {
    padding: 25px 23px 30px 28px;
    text-align: center;
    max-width: 272px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4.8px 0.2px rgba(30, 43, 63, 0.1);
}

.services-cards__image {
    width: 118px;
    height: 106px;
    margin: 0 auto 32px auto;
    background-size: 500%;
}

.services-cards__image--flat-design {
    background: url(../img/icons/services-sprite.png) 64.5% 40% no-repeat;
}

.services-cards__image--days-free {
    background: url(../img/icons/services-sprite.png) 34% 40% no-repeat;
}

.services-cards__image--support {
    background: url(../img/icons/services-sprite.png) 96.5% 40% no-repeat;
}

.services-cards__image--user-friendly {
    background: url(../img/icons/services-sprite.png)5.5% 40% no-repeat;
}

.services-cards__title {
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .services {
        padding-top: 150px;
        padding-bottom: 86px;
    }

    .services__title {
        margin-bottom: 120px;
    }

    .services__title::after {
        bottom: -32px;    
    }

    .services-cards {
        flex-wrap: wrap;
    }

    .services-cards__card {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 992px) {
    .services-cards__card {
        max-width: 334px;
    }
}

/* end services */

/* start company-info */
.company-info {
    display: flex;
    background-color: #323a4d;
}

.get-more {
    flex-basis: 1070px;
    padding: 140px 0 135px 125px;
    background-color: rgb(245, 246, 250);
    margin-left: auto;
}

.get-more__title {
    max-width: 240px;
    margin-bottom: 49px;
}

.get-more__text {
    max-width: 476px;
}

@media screen and (max-width: 1500px) {
    .get-more {
        flex-basis: 900px;
    }

    .get-more__title {
        max-width: max-content;
    }
    
    .get-more__text {
        max-width: 560px;
    }
}

@media screen and (max-width: 992px) {
    .get-more {
        padding: 100px 0 100px 80px;
        flex-basis: 730px;
    }
}
/* end company-info */

/* start app-presentation */
.app-presentation {
    padding-top: 112px;
    background-color: #fff;
}

.app-presentation__offer {
    display: flex;
    margin-bottom: 110px;
}

.stable-and-ready {
    max-width: 471px;
    padding-top: 12px;
    text-align: right;
}

.stable-and-ready__title {
    margin-bottom: 49px;
}

.stable-and-ready__text {
    margin-bottom: 46px;
}

.download-free-button {
    font-size: 1.0625rem;
    padding: 15px 25px 17px 35px;
}

.code-window {
    max-width: 570px;
    max-height: 363px;
    margin: 0 0 0 auto;
}

.code-window__image {
    display: block;
}

.app-presentation__advantages {
    display: flex;
    justify-content: space-between;
}

.news-phone {
    max-width: 471px;
    margin: 0;
}

.news-phone__image {
    display: block;
    position: relative;
    top: 60px;
}

.advantages {
    flex-basis: 544px;
    margin-left: 0;
}

.advantages__item {
    display: block;
    position: relative;
    padding: 30px 0 30px 85px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(35, 39, 51, 0.1);
}

.advantages__item:not(:last-child) {
    margin-bottom: 20px;
}

.advantages__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    background: #000;
    top: 25px;
    left: 30px;
}

.advantages__item--made-with::before {
    background: url(../img/icons/advantages-sprite.png) -13px -6px no-repeat;
}

.advantages__item--use::before {
    background: url(../img/icons/advantages-sprite.png) -117px -8px no-repeat;
}

.advantages__item--support::before {
    background: url(../img/icons/advantages-sprite.png) -68px -10px no-repeat;
}

.advantages__item--flat::before {
    background: url(../img/icons/advantages-sprite.png) -166px -7px no-repeat;
}

.requirements-container {
    background-color: #f5f6fa;
    padding-top: 74px;
}

.requirements {
    display: flex;
}

.requirements-offer {
    padding-top: 70px;
    flex-basis: 474px;
    text-align: right;
}

.requirements-offer__title {
    margin-bottom: 43px;
}

.requirements-list {
    margin-bottom: 44px;
    margin-left: auto;
    max-width: 86px;
}

.requirements-list__item {
    position: relative;
    font-size: 1.0625rem;
    color: #000;
    opacity: .85;
    font-family: "Dosis-Bold";
    padding-right: 36px;
}

.requirements-list__item:first-child {
    margin-bottom: 25px;
}

.requirements-list__item::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    background: url(../img/icons/checkmark.png) center center no-repeat;
    background-size: 100%;
    left: -40px;
    top: 0;
}

.requirements-figure {
    margin: 0 0 0 auto;
    max-width: 538px;
}

.requirements-figure__image {
    display: block;
}

@media screen and (max-width: 1200px) {
    .stable-and-ready {
        max-width: 400px;
    }

    .code-window {
        max-width: 500px;
    }

    .code-window__image {
        width: 100%;
    }

    .advantages  {
        flex-basis: 430px;
    }

    .news-phone {
        max-width: 400px;
    }

    .news-phone__image {
        width: 100%;
        top: 0;
    }

    .requirements-figure {
        max-width: 400px;
    }

    .requirements-figure__image {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 992px) {
    .app-presentation__offer {
        flex-direction: column;
        align-items: center;
    }

    .code-window {
        order: -1;
        margin: 0;
    }

    .stable-and-ready {
        max-width: 600px;
        text-align: center;
    }

    .app-presentation__advantages {
        flex-direction: column;
        align-items: center;
    }

    .news-phone {
        max-width: 320px;
        margin-bottom: 55px;
    }

    .advantages {
        flex-basis: unset;
        width: 100%;
        max-width: 550px;
        margin-bottom: 80px;
    }

    .requirements {
        display: block;
    }

    .requirements-list {
        margin: 0 auto 44px auto;
        transform: translateX(40%);
    }

    .requirements-figure {
        margin: 0 auto;
    }

    .requirements-offer {
        margin: 0 auto 80px auto;
        max-width: 500px;
        text-align: center;
        padding: 0;
    }
}
/* end app-presentation */

/* start video-section */
.video-section {
    padding-top: 205px;
    padding-bottom: 225px;
    background-color: #223047;
}


.video {
    max-width: 738px;
    margin: 0 auto;
    text-align: center;
}

.video__icon {
    position: relative;
    margin: 0 auto 30px auto;
    width: 96px;
    height: 96px;
    background-color: rgb(0, 255, 240);
    border-radius: 50%;
}

.video__icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-17%, -50%);
    border: 15px solid transparent;
    border-left: 23px solid #223047;
    width: 0;
    height: 0;
}

.video__link {
    display: block;
}

.video__title {
    margin-bottom: 48px;
}

.video__title,
.video__text {
    color: #fff;
    opacity: .8;
}

@media screen and (max-width: 992px) {
    .video-section {
        padding: 105px 0;
    }
}
/* end video-section */

/* start download-part */
.download-part {
    text-align: center;
    padding-top: 250px;
    padding-bottom: 192px;
    position: relative;
    z-index: 0;
}

.download-part::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 938px;
    max-height: 467px;
    left: 50%;
    transform: translateX(-50%);
    top: 118px;
    background: url(../img/map.png) center center no-repeat;
    background-size: cover;
    z-index: 0;
}

.download-part__title {
    margin-bottom: 32px;
    color: #233148;
}

.download-part__text {
    margin-bottom: 65px;
    color: rgb(35, 49, 72);
}

.download-part__button {
    color: #233148;
    text-transform: uppercase;
    padding: 16px 41px 23px 48px;
    box-shadow: 0px 8px 24px 0px rgba(0, 255, 241, 0.5);
    border-radius: 0;
}

.download-part__text,
.download-part__button {
    font-size: 1.0625rem;    
}

.download-part__title,
.download-part__text,
.download-part__button {
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 992px) {
    .download-part {
        padding: 150px 0 130px;
    }

    .download-part::before {
        background-size: contain;
        max-width: 600px;
        top: 30px;
    }
}
/* end download-part */

/* start quote */
.quote {
    padding: 130px 0;
    background-color: #223047;
}

.quote__blockquote {
    text-align: center;
    max-width: 790px;
    color: rgb(0, 255, 241);
    font-size: 1.125rem;
    margin: 0 auto;
    line-height: 1.611;
    opacity: .9;
}
/* end quote */

/* start app-add */
.app-add {
    padding-top: 85px;
    background-color: #f5f6fa;
}

.get-app {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
}

.get-app-images {
    margin-left: 105px;
    flex-basis: 400px;
    position: relative;
}

.get-app-images__large-image,
.get-app-images__large-small {
    display: block;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 4px 8px #00fff1);
}

.get-app-images__large-image {
    max-height: 508px;
    max-width: 244px;
    position: relative;
    z-index: 1;
}

.get-app-images__large-small {
    max-height: 389px;
    max-width: 187px;
    position: absolute;
    right: 34px;
    top: 88px;
    z-index: 0;
}

.now-avaliable {
    max-width: 470px;
    padding-top: 122px;
    margin-right: 110px;
}

.now-avaliable__title {
    margin-bottom: 30px;
}

.now-avaliable__text {
    margin-bottom: 58px;
    font-size: 1.0625rem;
}

.get-it-socials {
    display: flex;
}

.get-it-socials__item {
    background-color: #000;
    padding: 5px 8px 5px 42px;
    color: #fff;
    border-radius: 7px;
    position: relative;
}

.stores-item::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-size: 300%;
}

.stores-item--gp::before {
    background: url(../img/icons/stores-sprite.png) -6px center no-repeat;
}

.stores-item--app-store::before {
    background: url(../img/icons/stores-sprite.png) -50px center no-repeat;
}

.get-it-socials .get-it-socials__item:last-child {
    margin-left: 27px;
}

.stores-item__get,
.stores-item__store-name {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}


.stores-item__get {
    font-size: 0.7rem;
    opacity: .8;
    font-weight: 300;
    margin-bottom: 2px;
}

.stores-item__store-name {
    opacity: .95;
    font-size: 1.25rem;
}

.get-app-today__button {
    margin: 0 auto;
    display: block;
    padding: 25px 112px;
    font-size: 1.0625rem;
    font-family: "Dosis-Medium";
    font-weight: 500;
    border-radius: 0;
    box-shadow: 0px 8px 24px 0px rgba(0, 255, 241, 0.5);
    text-transform: uppercase;
    position: relative;
    transform: translateY(50%);
}
/* end app-add */

/* start footer */
.footer {
    padding-top: 132px;
    background-color: #fff;
}

.footer-navigation {
    margin-bottom: 100px;
}

.footer-navigation__list {
    display: flex;
    justify-content: space-between;
}

.footer-navigation__title {
    margin-bottom: 25px;
    font-family: "Dosis-Bold", sans-serif;
    font-weight: 500;
}

.contacts-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.contacts-list__link {
    color: inherit;
}

.get-in {
    text-align: center;
}

.get-in__title {
    margin-bottom: 28px;
}

.get-in__text {
    margin-bottom: 72px;
    font-size: 1.0625rem;
}

.get-in__form {
    margin: 0 auto 97px auto;
    display: flex;
    justify-content: space-between;
    max-width: 770px;
}

.get-in__input {
    flex-basis: 570px;
    background-color: #f5f6fa;
    border: none;
    padding: 0 25px;
    color: #233148;
    font-size: 1.25rem;
}

.get-in__button {
    color: #233148;
    text-transform: uppercase;
    padding: 10px 35px 19px 43px;
    box-shadow: 0px 8px 24px 0px rgba(0, 255, 241, 0.5);
    border-radius: 0;
    font-size: 1.0625rem;
}

.footer-bar {
    padding: 34px 0;
    background-color: rgb(34, 48, 71);
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-logo__logo {
    color: rgb(0, 255, 241);
    font-size: 1.0625rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 330px;
}

.socials__item {
    flex-basis: 34px;
    height: 34px;
}

.socials__link {
    display: block;
    width: 100%;
    height: 100%;
}

.socials__link--facebook {
    background: url(../img/icons/socials-sprite.png) 7% 50% no-repeat;
}

.socials__link--twitter {
    background: url(../img/icons/socials-sprite.png) 28% 50% no-repeat;
}

.socials__link--dribble {
    background: url(../img/icons/socials-sprite.png) 48% 50% no-repeat;
}

.socials__link--gplus {
    background: url(../img/icons/socials-sprite.png) 69% 50% no-repeat;
}

.socials__link--youtube {
    background: url(../img/icons/socials-sprite.png) 90% 50% no-repeat;
}
/* end footer */